Django==2.2.16
djoser==2.1.0
django-filter==2.4.0
django-colorfield==0.7.1
django-extra-fields==3.0.2
djangorestframework==3.12.4
gunicorn==20.0.4
PyJWT==2.4.0
pytest-django==4.4.0
python-dotenv==0.20.0
psycopg2-binary==2.8.6
Pillow==8.4.0
tqdm==4.64.0